<h1 style="color:blue">New Hospital</h1>

<form method="post">
    <label>Id Hospital</label>
    <input type="text" name="id" required/>
    <label>Nombre</label>
    <input type="text" name="nombre" required/>
    <label>Dirección</label>
    <input type="text" name="direccion" required/>
    <label>Teléfono</label>
    <input type="text" name="telefono" required/>
    <label>Camas</label>
    <input type="text" name="numcamas" required/>
    <button class="btn waves-effect waves-light">
        Nuevo hospital
    </button>
</form>

<h1 style="color:fuchsia">@ViewData["MENSAJE"]</h1>
