@model Hospital

<a asp-controller="Hospitales"
    asp-action="Index">
    Volver a Hospitales
</a>

<h1>Nombre: @Model.Nombre</h1>
<h2>Dirección: @Model.Direccion</h2>
<h2>Teléfono: @Model.Telefono</h2>
<h2>Camas: @Model.Camas</h2>